{
	log {
		level DEBUG
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
}

{$DOMAIN} {
	@rootPath path "/"
	header @rootPath Content-Type "text/html"
	respond @rootPath "<!DOCTYPE html><html><head><title>Homelab Services</title></head><body><h1>Welcome</h1><ul><li><a href='{$DOMAIN}:314'>Pihole</a></li><li><a href='{$DOMAIN}:315'>Vaultwarden</a></li><li><a href='{$DOMAIN}:316'>Odoo</a></li><li><a href='{$DOMAIN}:317'>MeTube</a></li><li><a href='{$DOMAIN}:318'>Radicale</a></li></ul></body></html>" 200 {
	}
}

{$DOMAIN}:314 {
	redir / /admin{uri}
	reverse_proxy pihole:80
}

{$DOMAIN}:315 {
	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$DOMAIN}:316 {
	reverse_proxy odoo:8069
}

{$DOMAIN}:317 {
	reverse_proxy metube:8081
}

{$DOMAIN}:318 {
	reverse_proxy radicale:5232
}
