services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: always
    volumes:
      - "${DOCKER_VOLUMES}/vaultwarden:/data"
    environment:
      DOMAIN: "${DOMAIN}:315"
      ORG_CREATION_USERS: "${EMAIL}"
      SIGNUPS_ALLOWED: "false"
      EXPERIMENTAL_CLIENT_FEATURE_FLAGS: "ssh-key-vault-item"
    dns:
      - 127.0.0.1
  caddy:
    container_name: caddy
    image: caddy:2
    restart: always
    ports:
      - "80:80"  # Needed for the ACME HTTP-01 challenge.
      - "443:443"
      - "443:443/udp"  # Needed for HTTP/3.
      - "314:314"  # Pihole
      - "315:315"  # Vaultwarden
      - "316:316"  # Odoo
      - "317:317"  # MeTube
      - "318:318"  # Radicale
    volumes:
      - "${DOCKER_VOLUMES}/caddy/Caddyfile:/etc/caddy/Caddyfile"
      - "${DOCKER_VOLUMES}/caddy/config:/config"
      - "${DOCKER_VOLUMES}/caddy/data:/data"
    environment:
      DOMAIN: "${DOMAIN}"
      EMAIL: "${EMAIL}"
      LOG_FILE: "/data/access.log"
      RADICALE_USER: "${RADICALE_USER}"
      RADICALE_PASSWORD_HASH: "${RADICALE_PASSWORD_HASH}"
    dns:
      - 8.8.8.8
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: always
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - "${DOCKER_VOLUMES}/pihole/pihole:/etc/pihole"
      - "${DOCKER_VOLUMES}/pihole/dnsmasq.d:/etc/dnsmasq.d"
    hostname: pi4
    environment:
      TZ: "Europe/Berlin"
      FTLCONF_dns_listeningMode: "all"
    dns:
      - 8.8.8.8
  odoo:
    container_name: odoo
    image: odoo:18
    depends_on:
      - postgres
    environment:
      HOST: postgres
      USER: ${POSTGRES_USER}
      PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - "${DOCKER_VOLUMES}/odoo/data:/var/lib/odoo"
      - "${DOCKER_VOLUMES}/odoo/config:/etc/odoo"
    restart: always
    dns:
      - 8.8.8.8
  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - "${DOCKER_VOLUMES}/postgres/db:/var/lib/postgresql/data"
    restart: always
  metube:
    container_name: metube
    image: ghcr.io/alexta69/metube
    restart: unless-stopped
    volumes:
      - "${DOCKER_VOLUMES}/metube/downloads:/downloads"
    dns:
      - 8.8.8.8
  radicale:
    container_name: radicale
    image: tomsquest/docker-radicale
    restart: unless-stopped
    environment:
      TAKE_FILE_OWNERSHIP: "false"
    volumes:
      - "${DOCKER_VOLUMES}/radicale/data:/data"
    dns:
      - 8.8.8.8
